div {
  animation: mymove 4s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-direction: reverse;
}
@keyframes mymove 
    from {left:0px;} /* 0% */
    to {left: 1000px;} /* 100% */
  

#bounce-title{
animation-timing-function: ease-in-out;
animation: mymove 5s infinite;

}
