nav ul{
    display:flex;
    justify-content: space-around; 
    list-style-type: none;
}
/*EXO1*/
@media only screen and (min-width: 1250px) {
    .li-1{
      color: rgb(39, 1, 249);
    }
  }
  .li-2{
    color: rgb(0, 213, 46);
  }
  /*EXO2*/
  @media only screen and (max-width: 1250px) {
.list-2{
  color:orange;
}
  }

  @media only screen and (max-width: 1250px) {
    .list-3{
      background-color:rgb(239, 0, 0);
    }
      }
/*EXO3*/

@media only screen and (max-width: 1000px) {
  .exo3{
    font-weight: bold;
  }
    }
    @media only screen and (min-width: 1250px) {
      .exo-3{
        font: italic;
        color:rgb(0, 32, 242);
      }
        }
/*EXO4*/
@media only screen and (min-width: 800px) {
  .exoo4{
    border: 1cm;
    color: green;
  }
    }
  @media only screen and (min-width: 900px) {
    .exo-4{
  
    }
      }

/*EXO5*/
@media (min-width: 900px) and (min-width: 1250px) {
  .exo5{
color: red;
border: 2cm;
  }
    }

/*EXO6*/
@media (min-width: 250px) and (min-width: 900px) {
  #exo6{
    background-image: url(../images/tartine.jpg) size: 250px 250px;

  }
    }