nav ul{
    display:flex;
    justify-content: space-around; 
    list-style-type: none;
}
/*EXO1*/
  @media(min-width:1250px){
    .li-1{
       color: blue;
    }
}
@media (max-width:1250px){
    .li-2{
        color: green;
    }
}
  /*EXO2*/
  @media (min-width:1250px) {
    .item2 .li3{
        color: orange;
    }
}
@media (max-width:1250px) {
    .item2 .li4{
        color: red;
    }
}
/*EXO3*/

@media (max-width:1000px) {
  .libold{
  font-weight: bold;
  text-decoration: underline;
}
 
  
}
@media (min-width:1250px) {
  .italic{
font-style: italic;
color: blue;
  }
  
}
/*EXO4*/
@media only screen and (max-width: 800px) {
  .exoo4{
    border: 1cm;
    color: green;
  }
    }
  @media only screen and (min-width: 900px) {
    .exo-4{
  
    }
      }

/*EXO5*/
@media only screen and (min-width: 900px) and (min-width: 1250px) {
  .exo5{
color: red;
border: 2cm;
  }
    }

/*EXO6*/
@media only screen and (min-width: 250px) and (min-width: 900px) {
  #exo6{
    background-image: url(../images/tartine.jpg) size: 250px 250px;

  }
    }
    /*EXO7*/
    @media only screen and (min-width: px) and (min-width: px){
    .exo7{
background-color: black;
    }
    }
    /*EXO8*/
    @media only screen and (min-width: 1250px){
.exo8:hover{
color: green;
}
    }
    @media only screen and (max-width: 1250px){
      .exo8:hover{
      color: rgba(250, 46, 0, 0.973);
      }
          }